body {
    font-family: Microsoft JhengHei;
}

.btn {
    border-width: 2px;
}

.form-control {
    border-width: 2px;
}

.header-carousel-item {
    height: 450px;
}

/* .bg-cover {
    background-size: cover;
    background-position: center center;
} */

.carousel-caption {
    background-color: rgba(0, 0, 0, .6);
}

@media (min-width: 768px) {
    .text-md-dark {
        color: #333;
    }
}

.carousel-inner .banner01 {
    background-image: url(../images/banner01.jpg);
    background-size: cover;
    background-position: center center;
}

.carousel-inner .banner02 {
    background-image: url(../images/banner02.jpg);
    background-size: cover;
    background-position: center center;
}

.carousel-inner .banner03 {
    background-image: url(../images/banner03.jpg);
    background-size: cover;
    background-position: center center;
}

.footer01 {
    background-image: url(../images/footer01.jpg);
    background-size: cover;
    background-position: center center;
}

.footer02 {
    background-image: url(../images/footer02.jpg);
    background-size: cover;
    background-position: center center;
}

.intro {
    position: relative;
}

.intro .introImg {
    position: absolute;
    top: 0;
    bottom: 0;
    background-image: url(../images/inn01.jpg);
    background-size: cover;
    background-position: center center;
}

.happy {
    position: relative;
}

.happyImg {
    position: absolute;
    top: 0;
    bottom: 0;
    background-image: url(../images/inn02.jpg);
    background-size: cover;
    background-position: center center;
}


/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 450px;
        width: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      /* html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      } */